@model Online_Shoping.Models.user_mst
@{
    ViewBag.Title = "ChangePassword";
}

<html>
<head>
    <title>Change Password</title>
    <style>
        .captcha{
            background-color:darkgray;
            border:1px solid #c3c2c2;
            color:white;
            border-radius:8px;
            padding:0.3rem;
            letter-spacing:3px
        }
        .cont {
            border-radius: 8px;
            padding: 5px 5px 50px 10px;
        }
        .left-container{
            height:100%;
        }
        .right-container{
            height:100%;
        }
    </style>
</head>
<body>
    <div style="margin-top:100px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="mdo">Change Password</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("ChangePassword", "User", "POST"))
                        {

                           
                            <div class="d-flex flex-column  cont">
                                <div class="text-center">
                                    <p class="text-danger">
                                        @Html.ValidationMessageFor(x => x.CaptchaCode)<br />
                                        @Html.ValidationMessageFor(x => x.ConfirmPass)<br />
                                        @Html.ValidationMessageFor(x => x.password)
                                    </p>
                                </div>

                                <div class="d-flex align-items-center justify-content-center flex-column">
                                    <div class="d-flex justify-content-evenly">
                                        <div class="p-2 m-2 left-container d-flex justify-content-between flex-column">

                                            <div class="mt-2">
                                                @Html.LabelFor(u => u.password) &nbsp; <span>*</span>

                                            </div>
                                            <div class="mt-2">
                                                @Html.LabelFor(u => u.NewPass)  &nbsp; <span>*</span>

                                            </div>
                                            <div class="mt-2">
                                                @Html.LabelFor(u => u.ConfirmPass) &nbsp; <span>*</span>

                                            </div>
                                            <div class="mt-2">
                                                @Html.LabelFor(u => u.CaptchaCode)   &nbsp; <b class="captcha"> @TempData["Captcha"]</b>

                                            </div>



                                        </div>
                                        <div class="m-2 p-2 right-container d-flex justify-content-between flex-column">
                                            <div class="mt-2">
                                                @Html.EditorFor(u => u.password, new { htmlAttributes = new { @placeholder = "Old Password" } })
                                            </div>
                                            <div class="mt-2">
                                                @Html.EditorFor(u => u.NewPass, new { htmlAttributes = new { @placeholder = "New Password" } })
                                            </div>
                                            <div class="mt-2">
                                                @Html.EditorFor(u => u.ConfirmPass, new { htmlAttributes = new { @placeholder = "Confirm Password" } })
                                            </div>
                                            <div class="mt-2">
                                                @Html.EditorFor(u => u.CaptchaCode, new { htmlAttributes = new { @placeholder = "Enter Captcha Code" } })
                                            </div>
                                        </div>
                                        <button id="change" class="btn btn-primary" style="display:none;"></button>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="modal-footer">
                        <label class="btn btn-primary" for="change">Change Password</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@Html.Raw(TempData["Msg"])

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
