@model Online_Shoping.Models.user_mst

@{
    ViewBag.Title = "SignUp";
}


<html>
<head>
    <title>User SignUp</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column vh-100  align-items-center justify-content-center containerr">



            @using (Html.BeginForm())
            {
                <div class="text-center"><h2>Sign Up</h2></div>
                <br />

                <div class="d-flex flex-column p-4  mycls">
                    <div class="text-center">
                        <p class="text-danger">
                            @Html.ValidationMessageFor(model => model.name)
                            @Html.ValidationMessageFor(model => model.email)
                            @Html.ValidationMessageFor(model => model.password)
                            @Html.ValidationMessageFor(model => model.ConfirmPass)
                            @Html.ValidationMessageFor(model => model.contact)
                        </p>
                    </div>

                    <div class="d-flex align-items-center justify-content-center flex-column">
                        <div class="d-flex justify-content-between">
                            <div class="p-2 m-2 left">
                                <div>
                                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2 d-inline" }) &nbsp;<span>*</span>
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2 d-inline" }) &nbsp;<span>*</span>
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.contact, htmlAttributes: new { @class = "control-label col-md-2 d-inline" }) &nbsp;<span>*</span>
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2 d-inline" }) &nbsp;<span>*</span>
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.ConfirmPass, htmlAttributes: new { @class = "control-label col-md-2 d-inline" }) &nbsp;<span>*</span>
                                </div>
                            </div>
                            <div class="m-2 p-2 right">
                                <div>
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control w-100", @placeholder = "User Name" } })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control w-100", @placeholder = "g-Mail Id" } })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control w-100", @placeholder = "Mobile Number" } })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control  w-100", @placeholder = "Password" } })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.ConfirmPass, new { htmlAttributes = new { @class = "form-control  w-100", @placeholder = "Confirm Password" } })
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="text-center">
                        <p>@Html.ActionLink("Already Have An Account, Login", "UserLogin", new { htmlAttributes = new { @class = "lgnn" } })</p>
                    </div>
                    <div class="p-2 text-center">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </div>















                


            }






        </div>
        </div>
</body>
</html>

