@model IEnumerable<Online_Shoping.Models.category>
@{
    ViewBag.Title = "UserHome";
}


<html>
<head>
    <title>View Categories</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/Hover.css" />
    <style>
        .slider {
            width:100%;
            transition: transform 0.5s ease-in-out;
        }
            .slider img {
                width: 100%;
                height:100%;
            }
    </style>
</head>
<body>
    @Html.Raw(TempData["Msg"])
    
    <div class="container p-2">
        
            <div class="slider">
                <img id="slideimg" src="~/Assets/add3.jpg" >
            </div>
        
        <div class="row justify-content-between" style="margin-bottom:60px;">

            @if (Model != null)
            {
                foreach (var i in Model)
                {                    
                        <a class=" hov-cls" href="@Url.Action("ViewProduct", "User",new { cat_id = i.cat_id })">
                            <img src="@Url.Content(@i.image)" />
                            <h5 style="color:#808080; text-align:center;">@i.name</h5>
                        </a>                    
                }
            }
        </div>
    </div>
    <div class="mt-xxl-4 text-center">
        <h6 class="text-danger m-1">No More Categories . . . </h6>
    </div>
    <script>
        const images = ["/Assets/ad1.jpg", "/Assets/add2.jpg", "/Assets/adv4 amgn.jpg", "/Assets/add3.jpg"];
        let index = 0;
        let slideimg = document.getElementById('slideimg');
        setInterval(()=>{
            index=(index+1)% images.length;
            slideimg.src = images[index];
        },2500);
    </script>
</body>
</html>


